@font-face {
  font-family: 'bigjohn';
  src: url('font/bigjohn.ttf') format('truetype');
}

@font-face {
  font-family: 'poppins';
  src: url('font/poppins.ttf') format('truetype');
}

@font-face {
  font-family: 'sosa';
  src: url('font/sosa.ttf') format('truetype');
}

.main {
  max-width: 900px;
  margin: 0 auto;
  font-family: "poppins";
}

#nav {
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  /*border-bottom: 2px solid #7f1419;*/
}

#content {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: "bigjohn";
  color: #D1B53D;
  margin-top: 25px;
  margin-left: 10px;
}

h2 {
  color: #D1B53D;
  font-weight: bold;
  margin-top: 22px;
  margin-left: 20px;
}

h3 {
  color: #7f1419;
  font-size: 1.1em;
}

#nav img {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

#links {
  margin-top: 28px;
  margin-right: 30px;
}

#links a {
  text-decoration: none;
  color: maroon;
  background-color: white;
  padding: 4px;
}

#welcome {
  width: 45%;
  margin-top: 50px;
  margin-left: 10px;
  box-sizing: border-box;
}

#language {
  padding-top: 55px;
  width: 45%;
  text-align: right;
  box-sizing: border-box;
  margin-left: 50px;
}

#language p {
  margin-bottom: 0px;
}

#language select {
  font-family: "poppins";
  padding-left: 10px;
}

#map-container {
  width: 49%;
}

#map {
  border: solid 4px #D1B53D;
  height: 500px;
  width: 420px;
}

#right-box {
  width: 420px;
  margin-left: 10px;
}

#locations {
  background-color: #D8D9D5;
  height: 395px;
}

#locations p {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 10px;
}

.cost {
  margin-top: 0px;
  background-color: #f0f0f0;
  border: solid 4px #D1B53D;
  height: 105px;
}


.cost h3 {
  margin: 0;
  margin-left: 10px;
  font-size: 1em;
}

#total {
  height: 30px;
  width: 80px;
  background-color: white;
  border: solid #D8D9D5 1px;
  position: relative;
  right: -330px;
  bottom: 95px;
}

#totalword {
  position: relative;
  right: -352px;
  bottom: 80px;
}

#location-select {
  z-index: 100;
  position: absolute;
}

#arrow {
  font-family: "sosa";
  font-size: 2.5em;
  margin-bottom: 0;
}

.locationdetails {
  height: 35px;
  width: 100%;

}

#dropdown {
  height: 230px;
  width: 82%;
  background-color: #f0f0f0;
  display: block;
}

#close {
  position: relative;
  left: -30px;
  bottom: 235px;
  background-color: grey;
  color: white;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 4px;
  /*box-shadow: 0px 5px 5px #3E4850;*/
}

#selectgroup {
  display: flex;
  font-size: .8em;
}

#selectgroup select {
  position: relative;
  margin-top: 5px;
  right: -165px !important;
  height: 35px;
}

#accomodation {
  margin: 0;
}

#accomodation small {
  color: grey;
  font-size: .7em;
  margin-left: 10px;
}

#accomodation ul {
  text-decoration: none;
  list-style: none;
}

#accomodation li {
  font-size: .7em;
  margin-left: 0;
  padding-left: 0;
}

.options {
  height: 100px;
  width: 350px;
  background-color: white;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding-top: 5px;
}

#chosen {
  list-style: none;
  font-size: .8em;
  margin: 0px;
}

#chosen li {
  margin-top: 0px;
}


@media (max-width: 750px) {
  #links {
    margin-right: 0;
  }
  #nav {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  #nav img{
    width: 100px;
    height: 100px;
  }
  #welcome {
    display: none;
  }
  #language {
    display: flex;
  }
  #language p {
    margin-left: 40%;
  }
}
